*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 200px;
    position: relative;
}

.pattern{
    width: 100%;
    height: 100%;
    background: lightskyblue;
}

.logo{
    height: 300px;
    width: 300px;
    position: absolute;
}

.the-boleaner{
    color: cornflowerblue;

}

.tim-images{
    width: 90%;
}

.highlighted-text{
    background-color: yellow;
}

.list{
    margin-left: 20px;
}

table{
    width: 100%;
}

thead{
    background-color: blue;
    color: white;
}

tbody{
    background-color: aqua;
}

.ph{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-footer{
    position: relative;
}

.adv-info{
    color: white;
    position: absolute;
    margin-top: 1%;
}